/* CSS HOMEPAGE*/ 
/* zagrade:{} */

.body {
    background-color: white;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    font-weight: normal;
    line-height: 1.6em;
    margin: 0;
    width: 100%;
}

.margin-container {
    max-width: 1140px;
    margin: 0 auto;
}

.margin-container-with-map {
    max-width: 1140px;
    margin: 0 auto;
    background-color: white;
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-self: baseline;
    position: relative;
}

.margin-container-with-companies{
    max-width: 1140px;
    margin: 0 auto;
    background-color: white;
    background-image: url(/Users/frontendpraktikant/www/Fronted-praksa/bgimage-companies.png);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-self: baseline;
    position: relative;
}

.margin-container-with-blogs {
    max-width: 1140px;
    margin: 0 auto;
    background-color: white;
}

.container {
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-basis: auto;
    justify-content: flex-start;
    align-items: baseline;
    flex-wrap: wrap;
}

header {
    background-color:#6495ED;
    display: inline-block;
    width: 100%;
    margin-left: 0;
}

.header-logo {
    background-color: #6495ED;
    color: #fff;
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 30px;
}

header .container {
    display: flex;
    justify-content: space-between;
}

.menu {
    display: flex;
    text-transform: uppercase;
    font-style: normal;
    font-weight: bolder;
    font-size: 15px;
}

a {
    text-decoration: none;
    color: #fff;
}

.ul-nav {
    list-style-type: none;
    text-align: center;
    padding: 0;
    margin: 0;
    margin-left: 50px;
}

.nav-link-li-header {
    display: inline-block;
    list-style-type: none;
    text-align: center;
    text-transform: uppercase;
    font-size: medium;
}

.ul-nav-login {
    list-style-type: none;
    text-align: center;
    padding: 0;
    margin: 15px;
    display: flex;
    justify-content: flex-end;
}

.bttn-register-yellow {
    text-align: center;
    display: flex;
    color: white;
    background-color: #FFA500;
    border-radius: 25px;
    padding: 20px;
    margin: auto;
} 

.login {
    display: flex;
    text-transform: none;
    font-style: normal;
    font-size: 15px;
}

.learn-travel-magento {
    background-color: #6495ED;
    color: #fff;
    text-align: left;
}

.h1-magento {
    font-size: large;
    color: #fff;
    font-weight: bold;
    text-align: left;
}

.paragraph-magento {
    color: #fff;
    font-size: 10px;
    text-align: left;
}

.bttn-sign-up-yellow {
    text-align: center;
    display: flex;
    color: white;
    background-color:#FFD700;
    border-radius: 25px;
}

.h2-heading {
    text-decoration: none;
    text-transform: none;
    color: #4B545C;
    font-size: 37px;
    font-family: Raleway;
    font-style: normal;
    font-weight: 500;
    line-height: 48px;
    position: relative;
    max-width: 60%;
}

.h2-heading::before {
    content: "";
    position: absolute;
    width: 36px;
    height: 3px;
    left: -55px;
    top: 22px;
    background-color: #FFBC00;
}

.container-icons-map {
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-basis: auto;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
    align-content: stretch;
    position: relative;
}

.section-icons {
    margin: auto;
    width: auto;
}

.register-yours-yellow {
    color: #FFBC00;
    text-transform: uppercase;
    font-style: normal;
    font-weight: bold;
    font-family: Raleway;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
}

.companies-in-the-iniciative {
    color: #4B545C; 
    text-transform: uppercase;
    text-decoration: none;
    font-weight: normal;
    font-family: Amaranth;
    font-style: normal;
    text-shadow: none;
    font-size: 31px;
    line-height: 42px;
    letter-spacing: 0.2px;
}

.flex-companies {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
    flex-basis: auto;
} 

.company-1 {
    max-width: 50%;
} 

.company-2 {
    max-width: 50%;
} 

.company-3 {
    max-width: 50%;
} 

.company-4 {
    max-width: 50%;
} 

.flex-aside {
    display: flex;
    position: relative;
    flex-direction: row;
    flex-wrap: wrap;
    flex-basis:auto;
} 

.name-company {
    text-transform: none;
    text-decoration: none;
    font-style: normal;
    font-family: Raleway;
    font-weight: bold;
    font-size: 19px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #333333;
}

.about-company {
    color: #4B545C;
    text-transform: none;
    text-decoration: none;
    font-style: normal;
    font-size: 14px;
    font-weight: 500;
    font-family: Raleway;
    line-height: 24px;
}

.text-company {
    text-transform: none;
    text-align: left;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    font-family: Raleway;
    font-style: normal;
    color: #4B545C;
    max-width: 45%;
}

.bttn-view-profile {
    text-align: center;
    color: #1E90FF;
    background-color: white;
    border-radius: 25px;
    padding: 20px;
    height: 10px;
    width: 130px;
    border: 1px solid #1E90FF;
}

.bttn-view-all-blue {
    text-align: center;
    color: white;
    background-color: #1E90FF;
    border-radius: 25px;
    padding: 20px;
    height: 10px;
    width: 130px;
    border: 1px solid #1E90FF;
}

.heading-takeoff {
    color: #4B545C;
    text-decoration: none;
    text-transform: none;
    font-style: normal;
    font-family: Amaranth;
    font-weight: bold;
    font-size: 31px;
    line-height: 42px;
    letter-spacing: 0.2px;
}

.paragraph-takeoff {
    color: #4B545C;
    text-decoration: none;
    text-transform: none;
    text-align: center;
    font-style: normal;
    font-family: Raleway;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    max-width: 60%;
}

hr {
    color: #FFA500;
    width: 50px;
}

.bttn-sign-up-blue {
    text-align: center;
    color: white;
    background-color: #1E90FF;
    border-radius: 25px;
    height: 10px;
    width: 130px;
    border: 1px solid #1E90FF;
}

.bttn-view-all-blue {
    text-align: center;
    color: white;
    background-color: #1E90FF;
    border-radius: 25px;
    height: 10px;
    width: 130px;
    border: 1px solid #1E90FF;
}

.read-about-yellow {
    text-align: left;
    text-decoration: none;
    text-transform: uppercase;
    color: #FFBC00;
    font-size: 14px;
    font-weight: bold;
    font-family: Raleway;
    font-style: normal;
    line-height: 24px;
    letter-spacing: 0.2px;
}

.latest-exchange-stories {
    color: #4B545C;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: normal;
    font-family: Amaranth;
    font-style: normal;
    text-shadow: none;
    text-align: left;
    font-size: 31px;
    line-height: 42px;
    letter-spacing: 0.2px;
}

.date {
    color: #BABABA;
    text-decoration: none;
    text-transform: none;
    font-size: 14px;
    font-weight: 500;
    font-family: Raleway;
    font-style: normal;
    line-height: 24px;
}

.blog-headings {
    color: #4B545C;
    text-decoration: none;
    text-transform: none;
    text-align: right;
    font-size: 26px;
    font-weight: normal;
    font-family: Amaranth;
    font-style: normal;
    line-height: 36px;
}

.blogs {
    color: black;
    text-decoration: none;
    text-transform: none;
    text-align: right;
    font-size: 10px;
    font-weight: normal;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
}

.host-sender {
    color: #DCDCDC;
    text-decoration: none;
    text-transform: none;
    text-align: right;
    font-size: 7px;
    font-weight: normal;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
}

.datetime { 
    color: #DCDCDC;
    text-decoration: none;
    text-transform: none;
    text-align: right;
    font-size: 7px;
    font-weight: normal;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
}

.image {
    width: 500px;
    height: 350px;
    display: flex;

}

.inchoo-logo {
    width: 90px;
    height: 21px;
}

.interactiv4-logo{
    width: 90px;
    height: 30px;
}

.footer-paragraph {
    font-size: 10px;
    font-style: normal;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
    text-align: left;
    text-transform: none;
    text-decoration: none;
    max-width: 25%;
    align-content: space-between;
    margin-right: 20px;
    display: flex;
}

.footer-logo {
    display: inline-block;
}

.nav-link-li-footer {
    display: inline-block;
    list-style-type: none;
    text-align: center;
    text-transform: uppercase;
    font-size: medium;
    margin-left: 1px solid white;
    font-family: 'Courier New', Courier, monospace;
}

.footer {
    margin: 0;
    border-left: 1px solid white;
    background-color: black;
    color:white;
    display: flex;
}

.paragraph-logos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav-link-li-footer {
    display: inline-block;
    border-left: 1px solid white;
    align-content: flex-end;
    padding-left: 20px;
    padding-right: 20px;
    list-style-type: none;
    text-align: center;
    text-transform: uppercase;
    font-size: medium;
}

.nav-link-li-footer first {
    display: inline-block;
    border:0;
    margin: auto;
}

.logo {
    margin: auto;
    margin-top: 50px;
    background-color: black;
    color:white;
    display: flex;
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 30px;
}

.navigation {
    display: flex;
    align-content: flex-end;
}

.footer-logo > div {
    margin-bottom: 20px;
}

.list-icons {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    list-style: none; 
    max-width: 687px;   
}

.li-icon {
    width: 50%;
    max-width: 295px;
    margin-bottom: 18px;
}

.li-icon i {
    margin-bottom: 18px;
    color:blue;
    position: relative;
    display: block;
}   

.icon_blue {
    width: 120px;
    height: 61px;
    display: inline-block;
}

.icon__1 {
    background-image: url("icon_1.png");
}

.icon__2 {
    background-image: url("icon_2.png");
}

.icon__3 {
    background-image: url("icon_3.png");
}

.icon__4 {
    background-image: url("icon_4.png");
}

.map {
    content: "";
    width: 500px;
    height: 350px;
    position: absolute;
    left: 580px;
    top: 70px;
}